/*-----header -----*/
header{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  display: flex;
  align-items: center;
}
.logo span{
  padding-left: 20px;
  color: MediumAquamarine;
}

 nav span{
  display: inline-block;
  padding: 20px 10px;
}

nav span a{
  color: black;
}

nav{
  padding-right: 30px;
}
